body { 
  background-color: #4E6C50 ;
  border-width: 10px;
  border-style: dotted;
  border-color: #395144;
}
h1 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #F0EBCE;
  width: 250px;
  text-align: center;
  font-family: Fjalla One;
  border-width: 5px;
  border-style: dotted;
  border-color: #395144;
}
h3 {
  margin: auto;
  text-align: center;
  color: #F0EBCE;
  font-family: fjalla one;
}
 #hands {
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   display: block;
 }
p {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #AA8B56;
  width: 250px;
  text-align: center;
  font-family: fjalla one;
  font-size: 33px;
}
#wolf {
  width:400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}